In [1]:
import re
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Combined_News_DJIA.csv')
print(data.shape)
data.head()

(1989, 27)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [3]:
data = data[['Label', 'Top1']]
data.head()

   Label                                               Top1
0      0  b"Georgia 'downs two Russian warplanes' as cou...
1      1  b'Why wont America and Nato help us? If they w...
2      0  b'Remember that adorable 9-year-old who sang a...
3      0  b' U.S. refuses Israel weapons to attack Iran:...
4      1  b'All the experts admit that we should legalis...

In [ ]:
data['Label'].value_counts() #  will display all the dataset

In [4]:
data['Top1'].apply(lambda x: x.lower()) #transform text to lowercase
data['Top1'] = data['Top1'].apply(lambda x: re.sub('[^a-zA-z0-9\s]', '', x))
data['Top1'].head()

0    bGeorgia downs two Russian warplanes as countr...
1    bWhy wont America and Nato help us If they won...
2    bRemember that adorable 9yearold who sang at t...
3    b US refuses Israel weapons to attack Iran report
4    bAll the experts admit that we should legalise...
Name: Top1, dtype: object

In [5]:

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words=5000, split=" ")
tokenizer.fit_on_texts(data['Top1'].values)

X = tokenizer.texts_to_sequences(data['Top1'].values)
X = pad_sequences(X) # padding our text vector so they all have the same length
X[:5]

A:\Programs File\Anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
A:\Programs File\Anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
A:\Programs File\Anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
A:\Programs File\Anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
A:\Programs File\Anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
A:\Programs File\Anaconda\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
        3754, 3755,  115,  111, 2453,   15,  352,  598,    2, 2454,    3,
          56],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0, 1759, 1118,  353,    6, 1119,  183,   20,   80,
          37, 1118,  183,   20,   47,  322,  599,   48,  183,   57,    4,
         184],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0, 2455,   10,
        3756, 2456,   23, 3757,   27,    1, 1760, 3758,   10,   24, 1348,
         194],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0, 1349,   20, 1120,   77,  215,    2,  175,  137,
         160],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0, 2457,    1,  927, 3759,   10,   48,   94, 1350,
         106]])

In [6]:
data['Top1'].apply(lambda x: x.lower()) #transform text to lowercase
data['Top1'] = data['Top1'].apply(lambda x: re.sub('[^a-zA-z0-9\s]', '', x))
data['Top1'].head()

0    bGeorgia downs two Russian warplanes as countr...
1    bWhy wont America and Nato help us If they won...
2    bRemember that adorable 9yearold who sang at t...
3    b US refuses Israel weapons to attack Iran report
4    bAll the experts admit that we should legalise...
Name: Top1, dtype: object

In [7]:
tokenizer = Tokenizer(num_words=5000, split=" ")
tokenizer.fit_on_texts(data['Top1'].values)

X = tokenizer.texts_to_sequences(data['Top1'].values)
X = pad_sequences(X) # padding our text vector so they all have the same length
X[:5]

array([[   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
        3754, 3755,  115,  111, 2453,   15,  352,  598,    2, 2454,    3,
          56],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0, 1759, 1118,  353,    6, 1119,  183,   20,   80,
          37, 1118,  183,   20,   47,  322,  599,   48,  183,   57,    4,
         184],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0, 2455,   10,
        3756, 2456,   23, 3757,   27,    1, 1760, 3758,   10,   24, 1348,
         194],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0, 1349,   20, 1120,   77,  215,    2,  175,  137,
         160],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0, 2457,    1,  927, 3759,   10,   48,   94, 1350,
         106]])

In [8]:
data.shape

(1989, 2)

In [ ]:
y = data['Label']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=25)

In [13]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, LSTM, Embedding, Dropout
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

model = Sequential()
model.add(Embedding(5000, 256, input_length=X.shape[1]))
model.add(Dropout(0.3))
model.add(LSTM(256, return_sequences=True, dropout=0.3, recurrent_dropout=0.2))
model.add(LSTM(256, dropout=0.3, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))

In [14]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 56, 256)           1280000
_________________________________________________________________
dropout (Dropout)            (None, 56, 256)           0
_________________________________________________________________
lstm (LSTM)                  (None, 56, 256)           525312
_________________________________________________________________
lstm_1 (LSTM)                (None, 256)               525312
_________________________________________________________________
dense (Dense)                (None, 1)                 257
=================================================================
Total params: 2,330,881
Trainable params: 2,330,881
Non-trainable params: 0
_________________________________________________________________

In [15]:
batch_size = 500
epochs = 20

model.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, verbose=2)

Epoch 1/20
4/4 - 7s - loss: 0.6931 - accuracy: 0.5145
Epoch 2/20
4/4 - 7s - loss: 0.6892 - accuracy: 0.5374
Epoch 3/20
4/4 - 8s - loss: 0.6840 - accuracy: 0.5374
Epoch 4/20
4/4 - 8s - loss: 0.6662 - accuracy: 0.5888
Epoch 5/20
4/4 - 8s - loss: 0.6646 - accuracy: 0.6251
Epoch 6/20
4/4 - 8s - loss: 0.6124 - accuracy: 0.7235
Epoch 7/20
4/4 - 9s - loss: 0.5956 - accuracy: 0.7520
Epoch 8/20
4/4 - 9s - loss: 0.5247 - accuracy: 0.7927
Epoch 9/20
4/4 - 9s - loss: 0.3874 - accuracy: 0.8458
Epoch 10/20
4/4 - 9s - loss: 0.2991 - accuracy: 0.8698
Epoch 11/20
4/4 - 9s - loss: 0.2230 - accuracy: 0.9089
Epoch 12/20
4/4 - 9s - loss: 0.1527 - accuracy: 0.9380
Epoch 13/20
4/4 - 9s - loss: 0.1065 - accuracy: 0.9637
Epoch 14/20
4/4 - 10s - loss: 0.0748 - accuracy: 0.9737
Epoch 15/20
4/4 - 10s - loss: 0.0587 - accuracy: 0.9793
Epoch 16/20
4/4 - 10s - loss: 0.0416 - accuracy: 0.9849
Epoch 17/20
4/4 - 10s - loss: 0.0325 - accuracy: 0.9849
Epoch 18/20
4/4 - 10s - loss: 0.0277 - accuracy: 0.9911
Epoch 19/20
4/4 - 11s - loss: 0.0228 - accuracy: 0.9939
Epoch 20/20
4/4 - 11s - loss: 0.0205 - accuracy: 0.9922

In [16]:
model.save('sentiment_analysis.h5')

In [17]:
predictions = model.predict(X_test)

In [23]:
# y_train, y_test
# X_train,y_train
accuracy = model.evaluate(X_train,y_train)
print(accuracy)

56/56 [==============================] - 3s 58ms/step - loss: 0.0091 - accuracy: 0.9972
[0.009078187867999077, 0.9972066879272461]

In [20]:
pos_count, neg_count = 0, 0
real_pos, real_neg = 0, 0
for i, prediction in enumerate(predictions):
    if prediction>0.5:
        pos_count += 1
    elif prediction<0.5:
        neg_count += 1
        
    
#     if np.argmax(y_test==1):
#         real_pos += 1
#     elif np.argmax(y_test==0):    
#         real_neg +=1
        

print('Positive predictions:', pos_count)
print('Negative predictions:', neg_count)
# print('Real positive:', real_pos)
# print('Real negative:', real_neg)

Positive predictions: 115
Negative predictions: 84
Real positive: 199
Real negative: 0